<% layout('layouts/boilerplate') %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="/images/register.jpg" alt="Login image" class="card-img-top">
                <div class="card-body">
                    <div class="card-title fw-bold">Hurray! Register today and have fun.</div>
                    <form action="/register" method="post" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" autofocus required>                
                            <div class="valid-feedback">
                                looks good
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>                
                            <div class="valid-feedback">
                                looks good
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" required>                
                            <div class="valid-feedback">
                                looks good
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="passwordRepeat" class="form-label">Password Confirmation</label>
                            <input type="password" class="form-control" name="passwordRepeat" id="passwordRepeat" aria-describedby="passwordRepeatHelp" required>                
                            <div class="valid-feedback">
                                looks good
                            </div>
                        </div>
                        <div class="text-center px-2">
                            <button class="btn btn-dark w-100">Register</button>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</div>