<footer class="footer text-bg-dark p-3 py-3 mt-auto">
    <div class="container">
        <p class="text-center text-white-50">&copy; YelpCamp <%= new Date().getFullYear() %></p>        
    </div>
</footer>