body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url('/images/home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.5) !important;
}
.cover-container{
    max-width: 60vw;
}

.nav-link{
    margin-left: 0.6rem;
    color: rgba(255,255,255,0.6);
    font-weight: 700;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    border-color: rgba(255,255,255,0.8);
    color:rgba(255,255,255,0.8);
}

.nav-link.active{
    border-color: rgba(255,255,255,0.9);
    color:rgba(255,255,255,0.9);
}

.btn-secondary,.btn-secondary:hover{
    text-shadow: none;
    color: #333 !important;
}

.btn-secondary:hover{
    opacity: 90%;
}